* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url(assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #bacecf; }
  body input::-webkit-outer-spin-button,
  body input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  body #bg__deco {
    position: absolute;
    width: 90%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; }
    body #bg__deco h1 {
      font-family: "Kranky", cursive;
      text-align: center;
      font-size: 6rem;
      font-weight: lighter; }
    body #bg__deco #bg__deco--icon {
      background-image: url(assets/img/graph.png);
      width: 100%;
      max-width: 15rem;
      height: 30%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
  body header {
    width: 100%;
    height: 3rem;
    background-color: #dbffe7;
    box-shadow: 0 0 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem; }
    body header #icon {
      font-size: 1.7rem; }
      body header #icon i {
        cursor: pointer;
        transition: 0.5s; }
    body header .menu {
      width: 100;
      background-color: rgba(0, 0, 0, 0.3);
      min-height: 100vh;
      width: 100%;
      transition: 0.5s;
      position: absolute;
      z-index: 10;
      top: -120%;
      display: flex;
      align-items: center;
      justify-content: center; }
      body header .menu.show {
        top: 0;
        transition: 0.5s; }
      body header .menu .menu__list {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 90vh;
        list-style: none;
        padding: 1rem;
        border-radius: 3rem; }
        body header .menu .menu__list h1 a {
          text-decoration: none;
          font-family: "Just Another Hand", cursive;
          font-size: 4rem;
          font-weight: lighter;
          text-align: center;
          color: black; }
        body header .menu .menu__list li {
          border: solid 1px black;
          font-size: 1.3rem;
          padding: 0.5rem;
          text-align: center;
          border-radius: 1rem;
          width: 90%;
          height: 6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.5s; }
          body header .menu .menu__list li:hover {
            background-color: #dbffe7; }
          body header .menu .menu__list li a {
            text-decoration: none;
            color: black;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center; }
  body .form__container {
    background-color: #496b6a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%); }
    body .form__container .invoice__input {
      background-color: #bacecf;
      border: none;
      width: 80%;
      height: 3rem;
      border-radius: 0.5rem;
      text-align: center;
      font-size: 1.2rem; }
      body .form__container .invoice__input::placeholder {
        color: rgba(255, 255, 255, 0.8); }
      body .form__container .invoice__input:focus {
        outline: none; }
    body .form__container .tax__container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      @media screen and (max-width: 500px) {
        body .form__container .tax__container {
          flex-direction: column; } }
      body .form__container .tax__container #tax__button {
        width: 5rem; }
    body .form__container .text {
      color: white;
      font-size: 1.5rem;
      padding-left: 2rem;
      position: absolute;
      left: 2rem; }
      @media screen and (max-width: 500px) {
        body .form__container .text {
          position: relative;
          width: 100%; } }
      body .form__container .text span {
        font-size: 1rem; }
    body .form__container .batch__input {
      border: none;
      width: 80%;
      height: 3rem;
      border-radius: 0.5rem;
      text-align: center;
      font-size: 1.2rem; }
      body .form__container .batch__input::placeholder {
        color: #bacecf; }
      body .form__container .batch__input:focus {
        outline: none; }
    body .form__container .warning {
      color: red; }
    body .form__container button {
      width: 3rem;
      height: 3rem;
      border-radius: 20px;
      background-color: #dbffe7;
      font-weight: 600;
      border: none;
      box-shadow: 0 0 10px black;
      cursor: pointer; }
      body .form__container button:focus {
        outline: none; }
    body .form__container .error {
      border: 1px solid red; }
    body .form__container #error__msg {
      height: 1rem;
      color: #ff1e00;
      font-size: 1rem; }
    body .form__container .results {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background-color: white;
      max-width: 40rem;
      min-height: 40rem;
      visibility: hidden;
      transition: 1s;
      border-radius: 50px;
      box-shadow: 0 0 10px black; }
      body .form__container .results #exit__btn, body .form__container .results #exit__btn--wt {
        background-color: #bacecf;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem; }
      body .form__container .results h1 {
        font-size: 1.5rem; }
      body .form__container .results p {
        font-size: 3rem;
        font-weight: bold;
        border-bottom: 1px solid black; }
  body .help__container {
    background-color: #496b6a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    padding: 2rem; }
    body .help__container h1 {
      color: white;
      font-size: 2.5rem; }
    body .help__container h2 {
      font-size: 2rem; }
    body .help__container p {
      color: white;
      font-size: 1.3rem;
      border-bottom: 1px solid #dbffe7;
      padding-bottom: 2rem; }
