<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Kranky&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../style.css">
    <title>Calculadora de costos</title>
</head>
<body>    
    <header>
        <div id="icon">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
        <nav class="menu">            
            <ul class="menu__list">
                <h1><a href="../index.html">Cálculo de Factura</a></h1>
                <li class="list__item"><a href="withTax.html">Factura c/impuestos incluidos</a></li>
                <li class="list__item"><a href="#">Factura s/impuestos incluidos</a></li>
                <li class="list__item"><a href="products.html">Tabla de Costos</a></li>
                <li class="list__item"><a href="help.html">Ayuda</a></li>
            </ul>
        </nav>
    </header>
    <div class="form__container">
        <input type="number" id="total" class="invoice__input" placeholder="total de la factura">
        <input type="number" id="sub__total" class="invoice__input" placeholder="sub-total de la factura">
        <div class="tax__container">
            <p class="text">Impuesto <span id="invoice__result"></span></p>
            <button id="tax__button">calcular</button>
        </div>
        <input type="number" id="batch__cost--wt" class="batch__input" value="" placeholder="total">
        <input type="number" id="batch__units--wt" class="batch__input" placeholder="cantidad d/unidades">
        <input type="number" id="gain--wt" class="batch__input" placeholder="% de ganancia">
        <p id="error__msg"></p>
        <button id="calculate--wt">OK</button>
        <div class="results" id="results--wt">
            <h1 id="final__cost">COSTO FINAL</h1>
            <p id="final__cost--resultwt"></p>
            <h1 id="selling__price">PRECIO DE VENTA</h1>
            <p id="selling__price--resultwt"></p>
            <h1 id="py__price">PRECIO PEDIDOS YA</h1>
            <p id="py__price--resultwt"></p>
            <button id="exit__btn--wt" onclick="hideResultWindowWt()">X</button>
        </div>
    </div>    
    <script src="../scripts/elements.js"></script>
    <script src="../scripts/validations.js"></script>
    <script src="../scripts/functions.js"></script>
    <script src="../scripts/front.js"></script>
    <script src="../scripts/withoutTaxEvents.js"></script>
    <script src="../index.js"></script>
</body>
</html>