$white: rgb(219, 255, 231);
$fontKranky: 'Kranky', cursive;
$fancyFont: 'Just Another Hand', cursive;
$deepGreen: rgb(73, 107, 106);
$lightGreen: rgb(186, 206, 207);
$mainBg: url(assets/img/bg.png);
$warning: 1px solid red;
$bg_hover: #003049;
