@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    width: 100vw;
    min-height: 100vh;
    background-image: $mainBg;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: $lightGreen;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    #bg__deco {
        position: absolute;
        width: 90%;
        height: 80%;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border-radius: 50px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-family: $fontKranky;
            text-align: center;
            font-size: 6rem;
            font-weight: lighter;
        }
        #bg__deco--icon {
            background-image: url(assets/img/graph.png);
            width: 100%;
            max-width: 15rem;
            height: 30%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    header {
        width: 100%;
        height: 3rem;
        background-color: $white;
        box-shadow: 0 0 20px black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
        #icon {
            font-size: 1.7rem;
            i {
                cursor: pointer;
                transition: 0.5s;
            }
        }
        .menu {
            width: 100;
            background-color: rgba($color: #000000, $alpha: 0.3);
            min-height: 100vh;
            width: 100%;
            transition: 0.5s;
            position: absolute;
            z-index: 10;
            top: -120%;
            display: flex;
            align-items: center;
            justify-content: center;
            &.show {
                top: 0;
                transition: 0.5s;
            }
            .menu__list {
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 90%;
                height: 90vh;
                list-style: none;
                padding: 1rem;
                border-radius: 3rem;
                h1 {
                    a {
                        text-decoration: none;
                        font-family: $fancyFont;
                        font-size: 4rem;
                        font-weight: lighter;
                        text-align: center;
                        color: black;
                    }
                }
                li {
                    border: solid 1px black;
                    font-size: 1.3rem;
                    padding: 0.5rem;
                    text-align: center;
                    border-radius: 1rem;
                    width: 90%;
                    height: 6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover {
                        background-color: $white;
                    }
                    a {
                        text-decoration: none;
                        color: black;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
        }
    }
    .form__container {
        background-color: $deepGreen;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 80vh;
        width: 100%;
        position: absolute;
        bottom: 50%;
        transform: translate(0, 50%);
        .invoice__input {
            background-color: $lightGreen;
            border: none;
            width: 80%;
            height: 3rem;
            border-radius: 0.5rem;
            text-align: center;
            font-size: 1.2rem;
            &::placeholder {
                color: rgba($color: #fff, $alpha: 0.8);
            }
            &:focus {
                outline: none;
            }
        }
        .text {
            color: white;
            font-size: 1.5rem;
            width: 100%;
            padding-left: 2rem;
        }
        .batch__input {
            border: none;
            width: 80%;
            height: 3rem;
            border-radius: 0.5rem;
            text-align: center;
            font-size: 1.2rem;
            &::placeholder {
                color: $lightGreen;
            }
            &:focus {
                outline: none;
            }
        }
        button {
            width: 3rem;
            height: 3rem;
            border-radius: 20px;
            background-color: $white;
            font-weight: 600;
            border: none;
            box-shadow: 0 0 10px black;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
        .error {
            border: 1px solid red;
        }
        #error__msg {
            height: 1rem;
            color: rgb(255, 30, 0);
            font-size: 1rem;
        }
        .results {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);            
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            background-color: white;
            max-width: 40rem;
            min-height: 30rem;
            visibility: hidden;
            transition: 1s;
            border-radius: 50px;
            box-shadow: 0 0 10px black;
            button {
                display: none;                
            }
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-size: 3rem;
                font-weight: bold;
                border-bottom: 1px solid black;
            }
        }
    }
}
